@import "tailwindcss";

@variant dark (&:is(.dark *));

/* Colores modo claro */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-display: "myriad-pro", sans-serif;
}

/* Colores modo oscuro */
.dark {
  --background: oklch(21% 0.006 285.885);
  --foreground: #ededed;
}

.splide__slide{
  @apply rounded-[.83vw]
}

@theme {
  --font-myriad-condensed: "myriad-pro-condensed", sans-serif;
  --breakpoint-screen: 115rem;
  --breakpoint-wide: 96rem;
  --breakpoint-wide-screen: 127rem;
}

body {
  font-family: var(--font-display);
  font-weight: 400;
  font-style: normal;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.NewsVaultScrollBar {
  --sb-track-color: #002422;
  --sb-thumb-color: #c4cc2d;
  --sb-size: 8px;
}

.NewsVaultScrollBar::-webkit-scrollbar {
  width: var(--sb-size)
}

.NewsVaultScrollBar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.NewsVaultScrollBar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .NewsVaultScrollBar {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.button-media{
   @apply text-white font-bold text-2xl px-4 border-2 py-1 lg:px-[1.67vw] lg:py-[.06vw] lg:text-[1.70vw] screen:px-8 screen:py-0 screen:border-4 screen:text-[1.8em] transition-colors duration-300 group-hover:from-[#b9b532] group-hover:to-[#267571] rounded-2xl lg:rounded-[1vw] lg:border-[.2vw] text-center font-myriad-condensed border-[#00302e] bg-linear-to-b from-[#267571] to-[#b9b532]
}