@import "tailwindcss";

@variant dark (&:is(.dark *));

/* Colores modo claro */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Colores modo oscuro */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}